In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
import pandas
import pandas as pd
import numpy
import numpy as np
import random as rn
import functools
import re

import warnings
warnings.filterwarnings('ignore')


<a id="top"></a>

<div class="list-group" id="list-tab" role="tablist">

<font color="teal" size=+1><b>Content List</b></font>
    
* [1. Check Pandas Version](#1)
* [2. Create Numpy Array: Create three columns with Zero values](#2)
* [3. iLoc in Pandas : Print first five rows](#3)
* [4. Create Random integer between 2 to 10 with 4 items](#4)
* [5. Create Random integer between 0 to 100](#5)
* [6. Create Random integer between 2 to 10 with 4 columns](#6)
* [7. 2D array with random between 0 and 5](#7)
* [8. Create Random integer between 0 to 100 with 10 itmes (2 rows, 5 columns)](#8)
* [9. 3 rows, 2 columns in pandas](#9)
* [10. Fill Random Science and Math Marks](#10)
* [11. CSV to DatRaframe (from_csv)](#11)
* [12. CSV to Dataframe (from_csv)](#12)
* [13. First 4 rows and 2 columns of CSV](#13)
* [14. Show even rows and first three columns](#14)
* [15. New columns as sum of all](#15)
* [16. Delete Rows of one column where the value is less than 50](#16)
* [17. Delete with Query](#17)
* [18. Skip single row](#18)
* [19. Skip multiple rows](#19)
* [20. Select Column by Index](#20)
* [21. Skip rows](#21)
* [22. String to Dataframe](#22)
* [23. New columns as max of other columns](#23)
* [24. New columns as max of other columns](#24)
* [25. New columns as max of other columns](#25)
* [26. Fill with average](#26)
* [27. New columns as sum of all](#27)
* [28. Unicode issue and fix](#28)
* [29. Fill with average](#29)
* [30. Last 4 rows](#30)
* [31. Expanding Apply](#31)
* [32. Get 3 and 4th row](#32)
* [33. Last 4th to 1st](#33)
* [34. iloc position slice](#34)
* [35. Loc - iloc - ix - at - iat](#35)
* [36. Random data](#36)
* [37. Filter with the value comparison](#37)
* [38. Filter between 5 and 10 on col 1](#38)
* [39. Filter between 15 to 20](#39)
* [40. Filter between 15 to 33](#40)
* [41. Custom method and xrnage on dataframe](#41)
* [42. Set index with date column](#42)
* [43. Change columns based on other columns](#43)
* [44. Change multiple columns based on one column values](#44)
* [45. Pandas Mask](#45)
* [46. Check high or low comparing the column against 5](#46)
* [47. Student Marks (Pass or Fail)](#47)
* [48. Get passed grades](#48)
* [49. Students passed in Language and Math](#49)
* [50. Students passed in Language and Science](#50)
* [51. Loc with Label oriented slicing](#51)
* [52. iloc with positional slicing](#52)
* [53. Label between numbers](#53)
* [54. Stars with names](#54)
* [55. Row label selection Age is above 25 and movies above 25](#55)
* [56. Stars in in certain ages](#56)
* [57. Inverse opeartor !( above one.45 and below two.50 )](#57)
* [58. Apply custom function](#58)
* [59. Group by single column](#59)
* [60. Creating new Columns using Applymap Sides & applymap](#60)
* [61. Replacing some values with mean of the rest of a group](#61)
* [62. Students passed in Language or Science (any one subject)](#62)
* [63. possible errors: TypeError: 'Series' objects are mutable, thus they cannot be hashed](#63)
* [64. argsort Select rows with data closest to certain value using argsort](#64)
* [65. argsort with stars](#65)
* [66. Argsort with actors - young stars (near by 17)](#66)
* [67. Binary operators - Stars with - younger than 19 - very young](#67)
* [68. Young, Higher Salary, and Higher Position](#68)
* [69. Rename columns](#69)
* [70. Add a new column](#70)
* [71. Drop a column](#71)
* [72. Drop multiple columns](#72)
* [73. Drop first and last column](#73)
* [74. Delete by pop function](#74)
* [75. DataFrame.from_items](#75)
* [76. Pandas to list](#76)
* [77. Pandas rows to list](#77)
* [78. Pandas rows to array](#78)
* [79. Pandas rows to map](#79)
* [80. Pandas rows to map](#80)
* [81. Drop duplicates](#81)
* [82. Selecting multiple columns](#82)
* [83. Selecting multiple columns](#83)
* [84. Row and Column Slicing](#84)
* [85. Iterating rows](#85)
* [86. Iterating tuples](#86)
* [87. Iterating rows and columns](#87)
* [88. List of Dictionary to Dataframe](#88)
* [89. Is Null](#89)
* [90. Sum of all nan](#90)
* [91. Sum of all nan rowwise](#91)
* [92. Sum of all nan as list](#92)
* [93. Change the order of columns](#93)
* [94. Drop multiple rows](#94)
* [95. Drop multiple rows by row name](#95)
* [96. Get group](#96)
* [97. Get the the odd row](#97)
* [98. Get the even columns](#98)
* [99. Odd rows and even columns](#99)
* [100. Drop duplicates](#100)
* [101. Drop all duplicates](#101)
* [102. Basic group by](#102)
* [103. Missing Data: Make A'th 3rd coulmn Nan](#103)
* [104. Reindex](#104)   
* [105. Column reset Nan](#105)  
* [105. XY](#105)  
* [106. XY](#106)  
* [107. Match with isin function](#107)  
* [108. Finding specific items by using `isin` function](#108)  
* [109. Exclude specific matching](#109)  
* [110. Apply a custom function on multiple columns](#110)  
* [111. iterrows as tuples](#111)  
* [112. Dataframe with NaN](#112)  
* [113. Simple Dataframe with NaN](#113)  
* [114. Pandas and Date with Range](#114)  
* [115. Pandas and Numpy Repeat](#115)  
* [116. read_sql in Pandas](#116)  
* [117. Get a single value by iat](#117)  
* [118. Get last n elements](#118)  
* [119. Add data one by one by using loc function](#119)  
* [120. Convert country in Dataframe](#120)  
* [121. Group by multiple columns](#121)  
* [122. Compare two dataframes](#122)  
* [123. Difference between datetime by only seconds or dates](#123)  
* [124. Get dates and delta days in Dataframe](#124)  
* [125. Get dates and delta days in Dataframe](#125)  
* [126. Date addition with time delta](#126)  
* [127. Converting Pandas innner list to numpy array without the word `list`](#127)  
* [128. Append series to existing Dataframe](#128)  
* [129. Cumulative sum with group by with multiple values](#129)  
* [130. Clean URL in Pandas String (remove string after specific item)](#130)  
* [131. Find any matching value](#131)

In [ ]:
# for i in range(105, 132):
#     print(f'* [{i}. XY](#{i})  ')

In [ ]:
import pandas
import pandas as pd
import numpy
import numpy as np
import random as rn
import functools
import re

<div style="">
    <div style="float: left; width: 80%;">
        <a id="1"></a>
        <font><b>Task 1:</b></font>
        <br><br>
        Check Pandas Version
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 1:')  
print(pd.__version__)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="2"></a>
        <font><b>Task 2:</b></font>
        <br><br>
        Create Numpy Array
        <br>
        Create three columns with Zero values
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 2:')
dtype = [('Col1','int32'), ('Col2','float32'), ('Col3','float32')]
values = numpy.zeros(20, dtype=dtype)
index = ['Row'+str(i) for i in range(1, len(values)+1)]

df = pandas.DataFrame(values, index=index)
print(df)

df = pandas.DataFrame(values)
print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="3"></a>
        <font><b>Task 3:</b></font>
        <br><br>
        iLoc in Pandas
        <br>
        Print first five rows
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 3:')
df = pandas.read_csv('../input/datasets-for-pandas/data1.csv', sep=';', header=None)
print(df.iloc[:4]) # 0 - 4 = 5 values

<div style="">
    <div style="float: left; width: 80%;">
        <a id="4"></a>
        <font><b>Task 4:</b></font>
        <br><br>
        Create Random integer between 2 to 10 with 4 items
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 4:')
values = np.random.randint(2, 10, size=4)
print(values)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="5"></a>
        <font><b>Task 5:</b></font>
        <br><br>
        Create Random integer between 0 to 100 
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 5:')
df = pd.DataFrame(np.random.randint(0, 100, size=(3, 2)), columns=list('xy'))
print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="6"></a>
        <font><b>Task 6:</b></font>
        <br><br>
        Create Random integer between 2 to 10 with 4 columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 6:')
df = pd.DataFrame(np.random.randint(0, 100, size=(2, 4)), columns=['A', 'B', 'C', 'D'])
print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="7"></a>
        <font><b>Task 7:</b></font>
        <br><br>
        2D array with random between 0 and 5
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 7:')
values = np.random.randint(5, size=(2, 4))
print(values)
print(type(values))

<div style="">
    <div style="float: left; width: 80%;">
        <a id="8"></a>
        <font><b>Task 8:</b></font>
        <br><br>
        Create Random integer between 0 to 100 with 10 itmes (2 rows, 5 columns)
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 8:')
df = pd.DataFrame(np.random.randint(0, 100, size=(3, 5)), columns=['Toronto', 'Ottawa', 'Calgary', 'Montreal', 'Quebec'])
print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="9"></a>
        <font><b>Task 9:</b></font>
        <br><br>
        3 rows, 2 columns in pandas
        <br>
        1st column = random between 10 to 20
        <br>
        2nd column = random between 80 and 90
        <br>
        3rd column = random between 40 and 50 
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 9:')  
dtype = [('One','int32'), ('Two','int32')]
values = np.zeros(3, dtype=dtype)
index = ['Row'+str(i) for i in range(1, 4)]

df = pandas.DataFrame(values, index=index)
print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="10"></a>
        <font><b>Task 10:</b></font>
        <br><br>
        Fill Random Science and Math Marks
        <br><br>
        (has some bugs in it)
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 10:')  
dtype = [('Science','int32'), ('Maths','int32')]
values = np.zeros(3, dtype=dtype)

#print(type(dtype))
#values = np.random.randint(5, size=(3, 2))
#print(values)
#index = ['Row'+str(i) for i in range(1, 4)]

df = pandas.DataFrame(values, index=index)
print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="11"></a>
        <font><b>Task 11:</b></font>
        <br><br>
        CSV to DatRaframe (from_csv)
        <br>
        Note: from_csv is Deprecated since version 0.21.0: Use pandas.read_csv() instead.
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 11:')  

csv = pd.read_csv('../input/datasets-for-pandas/uk-500.csv')
print(csv.head())

<div style="">
    <div style="float: left; width: 80%;">
        <a id="12"></a>
        <font><b>Task 12:</b></font>
        <br><br>
        CSV to Dataframe (from_csv
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 12:')  
#df = df.from_csv(path, header, sep, index_col, parse_dates, encoding, tupleize_cols, infer_datetime_format)
df = pd.read_csv('../input/datasets-for-pandas/uk-500.csv')
print(df.head())

<div style="">
    <div style="float: left; width: 80%;">
        <a id="13"></a>
        <font><b>Task 13:</b></font>
        <br><br>
        First 4 rows and 2 columns of CSV
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 13:') 
df = pandas.read_csv('../input/datasets-for-pandas/data1.csv', sep=',')
print(df.shape) 
#print(df[2:14])
print(df.iloc[0:4,0:2])
#print(df[df.columns[0]])

<div style="">
    <div style="float: left; width: 80%;">
        <a id="14"></a>
        <font><b>Task 14:</b></font>
        <br><br>
        Show even rows and first three columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 14:') 
df = pandas.read_csv('/kaggle/input/datasets-for-pandas/abc.csv', sep=',', encoding = "utf-8")
print(df.shape)

print(df.iloc[::2, 0:3])

<div style="">
    <div style="float: left; width: 80%;">
        <a id="15"></a>
        <font><b>Task 15:</b></font>
        <br><br>
        New columns as sum of all
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 15:') 
df = pandas.read_csv('/kaggle/input/datasets-for-pandas/abc.csv', sep=',', encoding = "utf-8")
print(df.shape)
print(df) 
df['total'] = df.sum(axis=1)

print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="16"></a>
        <font><b>Task 16:</b></font>
        <br><br>
        Delete Rows of one column where the value is less than 50
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 16:') 
df = pandas.read_csv('/kaggle/input/datasets-for-pandas/abc.csv', sep=',', encoding = "utf-8")
print(df.shape)
print(df) 

df = df[df.science > 50]
print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="17"></a>
        <font><b>Task 17:</b></font>
        <br><br>
        Delete with Query
        <br>Note: Query doesn't work if your column has space in it
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 17:') 
df = pandas.read_csv('/kaggle/input/datasets-for-pandas/abc.csv', sep=',', encoding = "utf-8")
print(df.shape)
print(df) 

df = df.query('science > 45')
print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="18"></a>
        <font><b>Task 18:</b></font>
        <br><br>
        Skip single row
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 18:') 
df = pandas.read_csv('/kaggle/input/datasets-for-pandas/abc.csv', sep=',', encoding = "utf-8", skiprows=[5])
print(df.shape)
print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="19"></a>
        <font><b>Task 19:</b></font>
        <br><br>
        Skip multiple rows
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 19:') 
df = pandas.read_csv('/kaggle/input/datasets-for-pandas/abc.csv', sep=',', encoding = "utf-8", skiprows=[1, 5, 7])
print(df.shape)
#print(df) 

#df = df[df[[1]] > 45]
print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="20"></a>
        <font><b>Task 20:</b></font>
        <br><br>
        Select Column by Index
        <br>
        <br>Note:
        <br>df[[1]] doesn't work in Pandas updated version (need to double check)
        <br>
        New columns as sum of all
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 20:') 
df = pandas.read_csv('/kaggle/input/datasets-for-pandas/abc.csv', sep=',', encoding = "utf-8")
print(df.shape)
print(df) 

#df = df[int(df.columns[2]) > 45]
print(df)
print(type(df.columns[2]))

<div style="">
    <div style="float: left; width: 80%;">
        <a id="21"></a>
        <font><b>Task 21:</b></font>
        <br><br>
        Skip rows
        <br>Note:
        <br>df[[1]] doesn't work in Pandas updated version (need to double check)
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 21:') 
df = pandas.read_csv('/kaggle/input/datasets-for-pandas/abc.csv', sep=',', encoding = "utf-8", skiprows=[0])
print(df.shape)
print(df) 

#df = df[int(df.columns[2]) > 45]
#print(df)
print(df.columns[2])

<div style="">
    <div style="float: left; width: 80%;">
        <a id="22"></a>
        <font><b>Task 22:</b></font>
        <br><br>
        String to Dataframe
        <br>Note:
        <br>df[[1]] doesn't work in Pandas updated version (need to double check)
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 22:')
from io import StringIO

s = """
        1, 2
        3, 4
        5, 6
    """

df = pd.read_csv(StringIO(s), header=None)

print(df.shape)
print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="23"></a>
        <font><b>Task 23:</b></font>
        <br><br>
        New columns as max of other columns
        <br>float to int used
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 23:') 
df = pandas.read_csv('/kaggle/input/datasets-for-pandas/abc.csv', sep=',', encoding = "utf-8")
print(df.shape)
df['sum'] = df.sum(axis=1)
df['max'] = df.max(axis=1)
df['min'] = df.min(axis=1)
df['average'] = df.mean(axis=1).astype(int)
print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="24"></a>
        <font><b>Task 24:</b></font>
        <br><br>
        New columns as max of other columns
<br>float to int used
<br>Math is considered more, so double the marks for maths
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
def apply_math_special(row):
    return (row.maths * 2 + row.language / 2 + row.history / 3 + row.science) / 4                

print('Task 24:') 
df = pandas.read_csv('/kaggle/input/datasets-for-pandas/abc.csv', sep=',', encoding = "utf-8")
print(df.shape)
df['sum'] = df.sum(axis=1)
df['max'] = df.max(axis=1)
df['min'] = df.min(axis=1)
df['average'] = df.mean(axis=1).astype(int)
df['math_special'] = df.apply(apply_math_special, axis=1).astype(int)
print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="25"></a>
        <font><b>Task 25:</b></font>
        <br><br>
        New columns as max of other columns
<br>35 marks considered as pass 
<br>If the student fails in math, consider fail
<br>If the student passes in language and science, consider as pass
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
def pass_one_subject(row):
    if(row.maths > 34):
        return 'Pass'
    if(row.language > 34 and row.science > 34):
        return 'Pass'
    
    return 'Fail'                

print('Task 25:') 
df = pandas.read_csv('/kaggle/input/datasets-for-pandas/abc.csv', sep=',', encoding = "utf-8")
print(df.shape)   

df['pass_one'] = df.apply(pass_one_subject, axis=1)
print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="26"></a>
        <font><b>Task 26:</b></font>
        <br><br>
        Fill with average
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 26:') 
df = pandas.read_csv('/kaggle/input/datasets-for-pandas/abc2.csv', sep=',', encoding = "utf-8")
print(df.shape)   
print(df)
df.fillna(df.mean(), inplace=True)

#df['pass_one'] = df.apply(pass_one_subject, axis=1)
print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="27"></a>
        <font><b>Task 27:</b></font>
        <br><br>
        New columns as sum of all
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 27:')
df = pd.DataFrame(np.random.rand(10, 5))
df.iloc[0:3, 0:4] = np.nan # throw in some na values
print(df)
df.loc[:, 'test'] = df.iloc[:, 2:].sum(axis=1)
print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="28"></a>
        <font><b>Task 28:</b></font>
        <br><br>
        Unicode issue and fix
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 28:') 
df = pandas.read_csv('/kaggle/input/datasets-for-pandas/score.csv', sep=',', encoding = "ISO-8859-1")
print(df.shape)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="29"></a>
        <font><b>Task 29:</b></font>
        <br><br>
        Fill with average
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 29:') 
df = pd.DataFrame(np.random.rand(3,4), columns=list("ABCD"))
print(df.shape)   
print(df)
df.fillna(df.mean(), inplace=True)

print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="30"></a>
        <font><b>Task 30:</b></font>
        <br><br>
        Last 4 rows
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 30:')  
df = pandas.read_csv('/kaggle/input/datasets-for-pandas/data1.csv', sep=';') 
print(df[-4:])

<div style="">
    <div style="float: left; width: 80%;">
        <a id="31"></a>
        <font><b>Task 31:</b></font>
        <br><br>
        Expanding Apply
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 31:')
series1 = pd.Series([i / 100.0 for i in range(1,6)])
print(series1)
def CumRet(x,y):
    return x * (1 + y)
def Red(x):
    return functools.reduce(CumRet,x,1.0)
s2 = series1.expanding().apply(Red)
# s2 = series1.expanding().apply(Red, raw=True) # is not working
print(s2)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="32"></a>
        <font><b>Task 32:</b></font>
        <br><br>
        Get 3 and 4th row
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 32:')  
df = pandas.read_csv('/kaggle/input/datasets-for-pandas/data1.csv', sep=';') 
print(df[2:4])

<div style="">
    <div style="float: left; width: 80%;">
        <a id="33"></a>
        <font><b>Task 33:</b></font>
        <br><br>
        Last 4th to 1st
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 33:')  
df = pandas.read_csv('/kaggle/input/datasets-for-pandas/data1.csv', sep=';') 
print(df[-4:-1])

<div style="">
    <div style="float: left; width: 80%;">
        <a id="34"></a>
        <font><b>Task 34:</b></font>
        <br><br>
        iloc position slice
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 34:')  
df = pandas.read_csv('/kaggle/input/datasets-for-pandas/data1.csv', sep=';') 
print(df.iloc[1:9])

<div style="">
    <div style="float: left; width: 80%;">
        <a id="35"></a>
        <font><b>Task 35:</b></font>
        <br><br>
        Loc - iloc - ix - at - iat
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 35:')  
df = pandas.read_csv('/kaggle/input/datasets-for-pandas/data1.csv', sep=';')

<div style="">
    <div style="float: left; width: 80%;">
        <a id="36"></a>
        <font><b>Task 36:</b></font>
        <br><br>
        Random data
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 36:')  
def xrange(x):
    return iter(range(x))

rnd_1  =  [ rn.randrange ( 1 , 20 )  for  x  in  xrange ( 1000 )] 
rnd_2  =  [ rn.randrange ( 1 , 20 )  for  x  in  xrange ( 1000 )] 
rnd_3  =  [ rn.randrange ( 1 , 20 )  for  x in  xrange ( 1000 )] 
date  =  pd . date_range ( '2012-4-10' ,  '2015-1-4' )
print(len(date))
data  =  pd . DataFrame ({ 'date' : date ,  'rnd_1' :  rnd_1 ,  'rnd_2' :  rnd_2 ,  'rnd_3' :  rnd_3 })

data.head()

<div style="">
    <div style="float: left; width: 80%;">
        <a id="37"></a>
        <font><b>Task 37:</b></font>
        <br><br>
        Filter with the value comparison
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 37:')
below_20 = data[data['rnd_1'] < 20]    
print(below_20)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="38"></a>
        <font><b>Task 38:</b></font>
        <br><br>
        Filter between 5 and 10 on col 1
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 38:') 
def xrange(x):
    return iter(range(x))
rnd_1  =  [ rn.randrange ( 1 , 20 )  for  x  in  xrange ( 1000 )] 
rnd_2  =  [ rn.randrange ( 1 , 20 )  for  x  in  xrange ( 1000 )] 
rnd_3  =  [ rn.randrange ( 1 , 20 )  for  x in  xrange ( 1000 )] 
date  =  pd . date_range ( '2012-4-10' ,  '2015-1-4' )
print(len(date))
data  =  pd . DataFrame ({ 'date' : date ,  'rnd_1' :  rnd_1 ,  'rnd_2' :  rnd_2 ,  'rnd_3' :  rnd_3 })
below_20 = data[data['rnd_1'] < 20]
ten_to_20 = data[(data['rnd_1'] >= 5) & (data['rnd_1'] < 10)]
#print(ten_to_20)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="39"></a>
        <font><b>Task 39:</b></font>
        <br><br>
        Filter between 15 to 20
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 39:')      
date  =  pd . date_range ( '2018-08-01' ,  '2018-08-15' )
date_count = len(date)

def fill_rand(start, end, count):
    return [rn.randrange(1, 20 ) for x in xrange( count )]

rnd_1 = fill_rand(1, 20, date_count) 
rnd_2 = fill_rand(1, 20, date_count) 
rnd_3 = fill_rand(1, 20, date_count)
#print(len(date))
data  =  pd . DataFrame ({ 'date' : date ,  'rnd_1' :  rnd_1 ,  'rnd_2' :  rnd_2 ,  'rnd_3' :  rnd_3 })
#print(len(date))
ten_to_20 = data[(data['rnd_1'] >= 15) & (data['rnd_1'] < 20)]
print(ten_to_20)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="40"></a>
        <font><b>Task 40:</b></font>
        <br><br>
        15 to 33
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 40:')      
date  =  pd . date_range ( '2018-08-01' ,  '2018-08-15' )
date_count = len(date)

def fill_rand(start, end, count):
    return [rn.randrange(1, 20 ) for x in xrange( count )]

rnd_1 = fill_rand(1, 20, date_count) 
rnd_2 = fill_rand(1, 20, date_count) 
rnd_3 = fill_rand(1, 20, date_count)

data  =  pd . DataFrame ({ 'date' : date ,  'rnd_1' :  rnd_1 ,  'rnd_2' :  rnd_2 ,  'rnd_3' :  rnd_3 })

ten_to_20 = data[(data['rnd_1'] >= 15) & (data['rnd_1'] < 33)]
print(ten_to_20)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="41"></a>
        <font><b>Task 41:</b></font>
        <br><br>
        Custom method and xrnage on dataframe
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 41:')  
date  =  pd . date_range ( '2018-08-01' ,  '2018-08-15' )
date_count = len(date)

def xrange(x):
    return iter(range(x))

def fill_rand(start, end, count):
    return [rn.randrange(1, 20 ) for x in xrange( count )]

rnd_1 = fill_rand(1, 20, date_count) 
rnd_2 = fill_rand(1, 20, date_count) 
rnd_3 = fill_rand(1, 20, date_count)

data  =  pd . DataFrame ({ 'date' : date ,  'rnd_1' :  rnd_1 ,  'rnd_2' :  rnd_2 ,  'rnd_3' :  rnd_3 })
filter_loc = data.loc[ 2 : 4 ,  [ 'rnd_2' ,  'date' ]]
print(filter_loc)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="42"></a>
        <font><b>Task 42:</b></font>
        <br><br>
        Set index with date column
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 42:')
date_date = data.set_index( 'date' ) 
print(date_date.head())

<div style="">
    <div style="float: left; width: 80%;">
        <a id="43"></a>
        <font><b>Task 43:</b></font>
        <br><br>
        Change columns based on other columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 43:') 
df = pd.DataFrame({
    'a' : [1,2,3,4], 
    'b' : [9,8,7,6],
    'c' : [11,12,13,14]
})
print(df) 

print('changing on one column')
# Change columns
df.loc[df.a >= 2,'b'] = 9
print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="44"></a>
        <font><b>Task 44:</b></font>
        <br><br>
        Change multiple columns based on one column values
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 44:')  
print('changing on multipe columns')
df.loc[df.a > 2,['b', 'c']] = 45
print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="45"></a>
        <font><b>Task 45:</b></font>
        <br><br>
        Pandas Mask
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 45:')  
print(df)
df_mask = pd.DataFrame({
    'a' : [True] * 4, 
    'b' : [False] * 4,
    'c' : [True, False] * 2
})
print(df.where(df_mask,-1000))

<div style="">
    <div style="float: left; width: 80%;">
        <a id="46"></a>
        <font><b>Task 46:</b></font>
        <br><br>
        Check high or low comparing the column against 5
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 46:')
print(df)  
df['logic'] = np.where(df['a'] > 5, 'high', 'low')
print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="47"></a>
        <font><b>Task 47:</b></font>
        <br><br>
        Student Marks (Pass or Fail)
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 47:')
marks_df = pd.DataFrame({
    'Language' : [60, 45, 78, 4], 
    'Math' : [90, 80, 23, 60],
    'Science' : [45, 90, 95, 20]
});
print(marks_df)
marks_df['language_grade'] = np.where(marks_df['Language'] >= 50, 'Pass', 'Fail')
marks_df['math_grade'] = np.where(marks_df['Math'] >= 50, 'Pass', 'Fail')
marks_df['science_grade'] = np.where(marks_df['Science'] >= 50, 'Pass', 'Fail')
print(marks_df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="48"></a>
        <font><b>Task 48:</b></font>
        <br><br>
        Get passed grades
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 48:')  
marks_df = pd.DataFrame({
    'Language' : [60, 45, 78, 4], 
    'Math' : [90, 80, 23, 60],
    'Science' : [45, 90, 95, 20]
});
print(marks_df)
marks_df_passed_in_language = marks_df[marks_df.Language >=50 ]
print(marks_df_passed_in_language)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="49"></a>
        <font><b>Task 49:</b></font>
        <br><br>
        Students passed in Language and Math
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 49:')  
marks_df_passed_in_lang_math = marks_df[(marks_df.Language >=50) & (marks_df.Math >= 50)]
print(marks_df_passed_in_lang_math)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="50"></a>
        <font><b>Task 50:</b></font>
        <br><br>
        Students passed in Language and Science
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 50:')  
marks_df_passed_in_lang_and_sc = marks_df.loc[(marks_df.Language >=50) & (marks_df.Science >= 50)]
print(marks_df_passed_in_lang_and_sc)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="51"></a>
        <font><b>Task 51:</b></font>
        <br><br>
        Loc with Label oriented slicing
<br>possible error:
<br>pandas.errors.UnsortedIndexError
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 51:')
stars = {
    'age' : [31, 23, 65, 50],
    'movies' : [51, 23, 87, 200],
    'awards' : [42, 12, 4, 78]
    }
star_names = ['dhanush', 'simbu', 'kamal', 'vikram']
stars_df = pd.DataFrame(data=stars, index=[star_names])
print(stars_df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="52"></a>
        <font><b>Task 52:</b></font>
        <br><br>
        iloc with positional slicing
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 52:')  
print(stars_df.iloc[1:3])

<div style="">
    <div style="float: left; width: 80%;">
        <a id="53"></a>
        <font><b>Task 53:</b></font>
        <br><br>
        Label between numbers
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 53:')  
numbers = pd.DataFrame({
        'one' : [10, 50, 80, 40],
        'two' : [2, 6, 56, 45]
    },
    index = [12, 14, 16, 18])
print(numbers)

print('label between 12 and 16')
print(numbers.loc[12:16])

print('index between 1 and 3')
print(numbers.iloc[1:3])

<div style="">
    <div style="float: left; width: 80%;">
        <a id="54"></a>
        <font><b>Task 54:</b></font>
        <br><br>
        Stars with names
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 54:') 
stars = {
    'age' : [31, 23, 65, 50],
    'movies' : [51, 23, 87, 200],
    'awards' : [42, 12, 4, 78]
    }
star_names = ['dhanush', 'simbu', 'kamal', 'vikram']
stars_df = pd.DataFrame(data=stars, index=[star_names])
numbers = pd.DataFrame({
        'one' : [10, 50, 80, 40],
        'two' : [2, 6, 56, 45]
    },
    index = [12, 14, 16, 18])
print(numbers)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="55"></a>
        <font><b>Task 55:</b></font>
        <br><br>
        Row label selection
        <br>Age is above 25 and movies above 25
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 55:')

age_movies_25 = stars_df[(stars_df.movies > 25 ) & (stars_df.age > 25)]  
print(age_movies_25)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="56"></a>
        <font><b>Task 56:</b></font>
        <br><br>
        Stars in in certain ages
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 56:')  
custom_stars = stars_df[stars_df.age.isin([31, 65])]
print(custom_stars)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="57"></a>
        <font><b>Task 57:</b></font>
        <br><br>
        inverse opeartor
         <br>!( above one.45 and below two.50 )
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 57:')  
print(numbers)
print(numbers[~( (numbers.one > 45) & (numbers.two < 50) )])

<div style="">
    <div style="float: left; width: 80%;">
        <a id="58"></a>
        <font><b>Task 58:</b></font>
        <br><br>
        Apply custom function
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 58:')
def GrowUp(x):
    avg_weight =  sum(x[x['size'] == 'series1'].weight * 1.5)
    avg_weight += sum(x[x['size'] == 'M'].weight * 1.25)
    avg_weight += sum(x[x['size'] == 'L'].weight)
    avg_weight /= len(x)
    return pd.Series(['L',avg_weight,True], index=['size', 'weight', 'adult'])

animals_df = pd.DataFrame({'animal': 'cat dog cat fish dog cat cat'.split(),
                   'size': list('SSMMMLL'),
                   'weight': [8, 10, 11, 1, 20, 12, 12],
                   'adult' : [False] * 5 + [True] * 2})

gb = animals_df.groupby(['animal'])

expected_df = gb.apply(GrowUp)
print(expected_df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="59"></a>
        <font><b>Task 59:</b></font>
        <br><br>
        Group by single column
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 59:')
weights = animals_df.groupby(['weight']).get_group(20)  
print(weights)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="60"></a>
        <font><b>Task 60:</b></font>
        <br><br>
        Creating new Columns using Applymap
        <br>Sides & applymap
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 60:')
sides_df = pd.DataFrame({
    'a' : [1, 1, 2, 4],
    'b' : [2, 1, 3, 4]
    })  
print(sides_df)
source_cols = sides_df.columns
print(source_cols)
new_cols = [str(x)+"_side" for x in source_cols]
side_category = {
    1 : 'North',
    2 : 'East',
    3 : 'South', 
    4 : 'West'
    }
sides_df[new_cols] = sides_df[source_cols].applymap(side_category.get)
print(sides_df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="61"></a>
        <font><b>Task 61:</b></font>
        <br><br>
        Replacing some values with mean of the rest of a group
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 61:')  
df = pd.DataFrame({'A' : [1, 1, 2, 2], 'B' : [1, -1, 1, 2]})
print(df)

gb = df.groupby('A')

def replace(g):
    mask = g < 0
    g.loc[mask] = g[~mask].mean()
    return g

gbt = gb.transform(replace)

print(gbt)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="62"></a>
        <font><b>Task 62:</b></font>
        <br><br>
        Students passed in Language or Science (any one subject)
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 62:') 
marks_df = pd.DataFrame({
    'Language' : [60, 45, 78, 4], 
    'Math' : [90, 80, 23, 60],
    'Science' : [45, 90, 95, 20]
});
print(marks_df)
marks_df_passed_in_lang_or_sc = marks_df.loc[(marks_df.Language >=50) | (marks_df.Science >= 50)]
print(marks_df_passed_in_lang_or_sc)

<div style="">
    <div style="float: left; width: 80%;">
        <a id=""></a>
        <font><b>Task 63:</b></font>
        <br><br>
        possible errors:
        <br>TypeError: 'Series' objects are mutable, thus they cannot be hashed
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 63:')  
marks_df['passed_one_subject'] = 'Fail' 
marks_df.loc[(marks_df.Language >=50) , 'passed_one_subject'] = 'Pass'
print(marks_df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="64"></a>
        <font><b>Task 64:</b></font>
        <br><br>
        argsort
        <br>Select rows with data closest to certain value using argsort
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 64:')  
df = pd.DataFrame({
    "a": np.random.randint(0, 100, size=(5,)), 
    "b": np.random.randint(0, 70, size=(5,))
})
print(df)
par = 65
print('with argsort')
df1 = df.loc[(df.a-par).abs().argsort()]
print(df1)

print(df.loc[(df.b-2).abs().argsort()])

<div style="">
    <div style="float: left; width: 80%;">
        <a id="65"></a>
        <font><b>Task 65:</b></font>
        <br><br>
        argsort with stars        
        <br>old stars (near by 50 age) argsort
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 65:')  
stars = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "movies": [2, 3, 90, 45, 34, 2] 
})
print(stars.loc[(stars.age - 50).abs().argsort()])

<div style="">
    <div style="float: left; width: 80%;">
        <a id="66"></a>
        <font><b>Task 66:</b></font>
        <br><br>
        Argsort with actors

        <br>young stars (near by 17)
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 66:')  
print(stars.loc[(stars.age - 17).abs().argsort()])

<div style="">
    <div style="float: left; width: 80%;">
        <a id="67"></a>
        <font><b>Task 67:</b></font>
        <br><br>
        Binary operators

        <br>Stars with

        <br>younger than 19 - very young

        <br>more movies acted**
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 67:')
stars = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "movies": [22, 33, 90, 75, 34, 2] 
})  
print(stars)
print('Young and more movies acted')
young = stars.age < 30    
more_movies = stars.movies > 30
young_more = [young, more_movies]
young_more_Criteria = functools.reduce(lambda x, y : x & y, young_more)
print(stars[young_more_Criteria])

<div style="">
    <div style="float: left; width: 80%;">
        <a id="68"></a>
        <font><b>Task 68:</b></font>
        <br><br>
        Young, Higher Salary, and Higher Position
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 68:')  
employees = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "salary": [75, 33, 90, 175, 134, 78],
    "grade" : [7, 8, 9, 2, 7, 8] 
})  
print(employees)
print('Young, Higher Salary, and Higher Position')
young = employees.age < 30
high_salary = employees.salary > 60
high_position = employees.grade > 6
young_salary_position = [young, high_salary, high_position]
young_salary_position_Criteria = functools.reduce(lambda x, y : x & y, young_salary_position)
print(employees[young_salary_position_Criteria])

<div style="">
    <div style="float: left; width: 80%;">
        <a id="69"></a>
        <font><b>Task 69:</b></font>
        <br><br>
        Rename columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 69:')  
employees = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "salary": [75, 33, 90, 175, 134, 78],
    "grade" : [7, 8, 9, 2, 7, 8] 
})  
print(employees)
employees.rename(columns={'age': 'User Age', 'salary': 'Salary 2018'}, inplace=True)
print(employees)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="70"></a>
        <font><b>Task 70:</b></font>
        <br><br>
        Add a new column
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 70:')  
employees = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "salary": [75, 33, 90, 175, 134, 78],
    "grade" : [7, 8, 9, 2, 7, 8] 
})  
print(employees)
employees['group'] = pd.Series(np.random.randn(len(employees)))
print(employees)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="71"></a>
        <font><b>Task 71:</b></font>
        <br><br>
        Drop a column
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 71:')  
employees = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "salary": [75, 33, 90, 175, 134, 78],
    "grade" : [7, 8, 9, 2, 7, 8] 
})  
print(employees)
employees['group'] = pd.Series(np.random.randn(len(employees)))
print(employees)
employees.drop(employees.columns[[0]], axis=1, inplace = True)
print(employees)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="72"></a>
        <font><b>Task 72:</b></font>
        <br><br>
        Drop multiple columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 72:')  
employees = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "salary": [75, 33, 90, 175, 134, 78],
    "grade" : [7, 8, 9, 2, 7, 8] 
})  
print(employees)
employees['group'] = pd.Series(np.random.randn(len(employees)))
print(employees)
employees.drop(employees.columns[[1, 2]], axis=1, inplace = True)
print(employees)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="73"></a>
        <font><b>Task 73:</b></font>
        <br><br>
        Drop first and last column
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 73:')  
employees = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "salary": [75, 33, 90, 175, 134, 78],
    "grade" : [7, 8, 9, 2, 7, 8],
    "group" : [1, 1, 2, 2, 2, 1] 
    
})  
print(employees)
employees.drop(employees.columns[[0, len(employees.columns)-1]], axis=1, inplace = True)
print(employees)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="74"></a>
        <font><b>Task 74:</b></font>
        <br><br>
        Delete by pop function
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 74:')  
employees = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "salary": [75, 33, 90, 175, 134, 78],
    "grade" : [7, 8, 9, 2, 7, 8],
    "group" : [1, 1, 2, 2, 2, 1] 
    
})  
print(employees)
group = employees.pop('group')
print(employees)
print(group)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="75"></a>
        <font><b>Task 75:</b></font>
        <br><br>
        DataFrame.from_items
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 75:')  
# df = pd.DataFrame.from_items([('A', [1, 2, 3]), ('B', [4, 5, 6]), ('C', [7,8, 9])], orient='index', columns=['one', 'two', 'three'])
# print(df) # throwing error

<div style="">
    <div style="float: left; width: 80%;">
        <a id="76"></a>
        <font><b>Task 76:</b></font>
        <br><br>
        Pandas to list
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 76:')
employees = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "salary": [75, 33, 90, 175, 134, 78],
    "grade" : [7, 8, 9, 2, 7, 8],
    "group" : [1, 1, 2, 2, 2, 1] 
    
})  
print(employees)  
employees_list1 = list(employees.columns.values) 
employees_list2 = employees.values.tolist()
#employees_list = list(employees)
print(employees_list1)
print(employees_list2)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="77"></a>
        <font><b>Task 77:</b></font>
        <br><br>
        Pandas rows to list
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 77:')
employees = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "salary": [75, 33, 90, 175, 134, 78],
    "grade" : [7, 8, 9, 2, 7, 8],
    "group" : [1, 1, 2, 2, 2, 1] 
    
})  
print(employees)  
employees_list2 = employees.values.tolist()
print(employees_list2)
print(type(employees_list2))
print(len(employees_list2))

<div style="">
    <div style="float: left; width: 80%;">
        <a id="78"></a>
        <font><b>Task 78:</b></font>
        <br><br>
        XPandas rows to array 

        <br>Note: as_matrix is deprecatedYZ
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 78:')
employees = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "salary": [75, 33, 90, 175, 134, 78],
    "grade" : [7, 8, 9, 2, 7, 8],
    "group" : [1, 1, 2, 2, 2, 1] 
    
})  
print(employees)  
employees_list2 = employees.values
print(employees_list2)
print(type(employees_list2))
print(employees_list2.shape)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="79"></a>
        <font><b>Task 79:</b></font>
        <br><br>
        Pandas rows to map
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 79:')
employees = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "salary": [75, 33, 90, 175, 134, 78],
    "grade" : [7, 8, 9, 2, 7, 8],
    "group" : [1, 1, 2, 2, 2, 1] 
    
})  
print(employees)  
employees_list2 = map(list, employees.values)
print(employees_list2)
print(type(employees_list2))

<div style="">
    <div style="float: left; width: 80%;">
        <a id="80"></a>
        <font><b>Task 80:</b></font>
        <br><br>
        Pandas rows to map
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 80:')
employees = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "salary": [75, 33, 90, 175, 134, 78],
    "grade" : [7, 8, 9, 2, 7, 8],
    "group" : [1, 1, 2, 2, 2, 1] 
    
})  
print(employees)  
employees_list2 = list(map(list, employees.values))
print(employees_list2)
print(type(employees_list2))

<div style="">
    <div style="float: left; width: 80%;">
        <a id="81"></a>
        <font><b>Task 81:</b></font>
        <br><br>
        Drop duplicates
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 81:')  
users = pd.DataFrame({
    "id": [1, 1, 2, 2, 3, 3], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa'],
    "count" : [7, 8, 9, 2, 7, 8] 
    
}) 
print(users)
users.drop_duplicates('id', inplace=True, keep='last')
print(users)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="82"></a>
        <font><b>Task 82:</b></font>
        <br><br>
        Selecting multiple columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 82:')  
users = pd.DataFrame({
    "id": [1, 1, 2, 2, 3, 3], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa'],
    "count" : [7, 8, 9, 2, 7, 8] 
    
}) 
print(users)
users1 = users[['id', 'city']]
print(users1)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="83"></a>
        <font><b>Task 83:</b></font>
        <br><br>
        Selecting multiple columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 83:')  
users = pd.DataFrame({
    "id": [1, 1, 2, 2, 3, 3], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa'],
    "count" : [7, 8, 9, 2, 7, 8] 
}) 
print(users)
columns = ['id', 'count']
users1 = pd.DataFrame(users, columns=columns)
print(users1)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="84"></a>
        <font><b>Task 84:</b></font>
        <br><br>
        Row and Column Slicing
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 84:')  
users = pd.DataFrame({
    "id": [1, 1, 2, 2, 3, 3], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa'],
    "count" : [7, 8, 9, 2, 7, 8] 
    
}) 
print(users)    
users1 = users.iloc[0:2, 1:3]
print(users1)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="85"></a>
        <font><b>Task 85:</b></font>
        <br><br>
        Iterating rows
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 85:')  
users = pd.DataFrame({
    "id": [1, 1, 2, 2, 3, 3], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa'],
    "count" : [7, 8, 9, 2, 7, 8] 
    
}) 
print(users)    
for index, row in users.iterrows():
    print(row['city'], "==>", row['count'])

<div style="">
    <div style="float: left; width: 80%;">
        <a id="86"></a>
        <font><b>Task 86:</b></font>
        <br><br>
        Iterating tuples
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 86:')  
users = pd.DataFrame({
    "id": [1, 1, 2, 2, 3, 3], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa'],
    "count" : [7, 8, 9, 2, 7, 8] 
    
}) 
print(users)    
for row in users.itertuples(index=True, name='Pandas'):
    print(getattr(row, 'city'))
    
for row in users.itertuples(index=True, name='Pandas'):
    print(row.count)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="87"></a>
        <font><b>Task 87:</b></font>
        <br><br>
        Iterating rows and columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 87:')  
users = pd.DataFrame({
    "id": [1, 1, 2, 2, 3, 3], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa'],
    "count" : [7, 8, 9, 2, 7, 8] 
    
}) 
print(users)    
for i, row in users.iterrows():
    for j, col in row.iteritems():    
        print(col)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="88"></a>
        <font><b>Task 88:</b></font>
        <br><br>
        List of Dictionary to Dataframe
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 88:')  
pointlist = [
                {'points': 50, 'time': '5:00', 'year': 2010}, 
                {'points': 25, 'time': '6:00', 'month': "february"}, 
                {'points':90, 'time': '9:00', 'month': 'january'}, 
                {'points_h1':20, 'month': 'june'}
            ]
print(pointlist)
pointDf = pd.DataFrame(pointlist)
print(pointDf)

pointDf1 = pd.DataFrame.from_dict(pointlist)
print(pointDf1)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="89"></a>
        <font><b>Task 89:</b></font>
        <br><br>
        NaN values
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 89:')
df = pd.DataFrame(np.random.randn(10,6))
# Make a few areas have NaN values
df.iloc[1:3,1] = np.nan
df.iloc[5,3] = np.nan
df.iloc[7:9,5] = np.nan
print(df)
df1 = df.isnull()
print(df1)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="90"></a>
        <font><b>Task 90:</b></font>
        <br><br>
        Sum of all nan
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 90:')  
df = pd.DataFrame(np.random.randn(10,6))
# Make a few areas have NaN values
df.iloc[1:3,1] = np.nan
df.iloc[5,3] = np.nan
df.iloc[7:9,5] = np.nan
print(df)
print(df.isnull().sum())
print(df.isnull().sum(axis=1))
print(df.isnull().sum().tolist())

<div style="">
    <div style="float: left; width: 80%;">
        <a id="91"></a>
        <font><b>Task 91:</b></font>
        <br><br>
        Sum of all nan rowwise
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 91:')  
df = pd.DataFrame(np.random.randn(10,6))
# Make a few areas have NaN values
df.iloc[1:3,1] = np.nan
df.iloc[5,3] = np.nan
df.iloc[7:9,5] = np.nan
print(df)
print(df.isnull().sum(axis=1))

<div style="">
    <div style="float: left; width: 80%;">
        <a id="92"></a>
        <font><b>Task 92:</b></font>
        <br><br>
        Sum of all nan as list
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 92:')  
df = pd.DataFrame(np.random.randn(10,6))
# Make a few areas have NaN values
df.iloc[1:3,1] = np.nan
df.iloc[5,3] = np.nan
df.iloc[7:9,5] = np.nan
print(df)
print(df.isnull().sum().tolist())

<div style="">
    <div style="float: left; width: 80%;">
        <a id="93"></a>
        <font><b>Task 93:</b></font>
        <br><br>
        Change the order of columns

        Note:
            FutureWarning: '.reindex_axis' is deprecated and will be removed in a future version 
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 93:')  
users = pd.DataFrame({
    "id": [1, 1, 2, 2, 3, 3], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa'],
    "count" : [7, 8, 9, 2, 7, 8] 
    
}) 
print(users)

# below line throws error
# users1 = users.reindex_axis(['city', 'count', 'id'], axis=1)
# print(users1)

users2 = users.reindex(columns=['city', 'id', 'count'])
print(users2)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="94"></a>
        <font><b>Task 94:</b></font>
        <br><br>
        Drop multiple rows
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 94:')
numbers = pd.DataFrame({
    "id": [1, 2, 3, 4, 5, 6], 
    "number": [10, 20, 30, 30, 23, 12]
    
})  
print(numbers)
numbers.drop(numbers.index[[0, 3, 5]], inplace=True)
print(numbers)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="95"></a>
        <font><b>Task 95:</b></font>
        <br><br>
        Drop multiple rows by row name
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 95:')  
numbers = pd.DataFrame({
    "id": [1, 2, 3, 4, 5, 6], 
    "number": [10, 20, 30, 30, 23, 12]
    
}, index=['one', 'two', 'three', 'four', 'five', 'six'])  
print(numbers)
numbers1 = numbers.drop(['two','six'])
print(numbers1)
numbers2 = numbers.drop('two')
print(numbers2)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="96"></a>
        <font><b>Task :</b></font>
        <br><br>
        Get group
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 96:')
cats = animals_df.groupby(['animal']).get_group('cat')
print(cats)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="97"></a>
        <font><b>Task 97:</b></font>
        <br><br>
        Get the the odd row
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 97:')  
x = numpy.array([
                    [ 1,  2,  3,  4,  5],
                    [ 6,  7,  8,  9, 10],
                    [11, 12, 13, 14, 15],
                    [16, 17, 18, 19, 20]
                ]
    )
print(x)
print(x[::2])

<div style="">
    <div style="float: left; width: 80%;">
        <a id="98"></a>
        <font><b>Task 98:</b></font>
        <br><br>
        Get the even columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 98:')  
x = numpy.array([
                    [ 1,  2,  3,  4,  5],
                    [ 6,  7,  8,  9, 10],
                    [11, 12, 13, 14, 15],
                    [16, 17, 18, 19, 20]
                ]
    )
print(x)
print(x[:, 1::2])

<div style="">
    <div style="float: left; width: 80%;">
        <a id="99"></a>
        <font><b>Task 99:</b></font>
        <br><br>
        Odd rows and even columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 99:')  

x = numpy.array([
                    [ 1,  2,  3,  4,  5],
                    [ 6,  7,  8,  9, 10],
                    [11, 12, 13, 14, 15],
                    [16, 17, 18, 19, 20]
                ]
    )
print(x)
print(x[::2, 1::2])

<div style="">
    <div style="float: left; width: 80%;">
        <a id="100"></a>
        <font><b>Task 100:</b></font>
        <br><br>
        Drop duplicates
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 100:')  
users = pd.DataFrame({
    "id": [1, 1, 2, 2, 3, 3], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa'],
    "count" : [7, 8, 9, 2, 7, 8] 
    
}) 
print(users)
users.drop_duplicates('id', inplace=True)
print(users)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="101"></a>
        <font><b>Task 101:</b></font>
        <br><br>
        Drop all duplicates
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 101:')  
users = pd.DataFrame({
    "name": ['kevin', 'james', 'kumar', 'kevin', 'kevin', 'james'], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa'],
    "count" : [7, 8, 9, 2, 7, 8] 
    
}) 
print(users)
users.drop_duplicates('name', inplace=True, keep='last')
print(users)
users1 = users.drop_duplicates('name', keep=False)
print(users1)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="102"></a>
        <font><b>Task 102:</b></font>
        <br><br>
        Basic group by
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 102:')
animals_df1 = animals_df.groupby('animal').apply(lambda x: x['size'][x['weight'].idxmax()])
print(animals_df1)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="102"></a>
        <font><b>Task 103:</b></font>
        <br><br>
        Missing Data:
        Make A'th 3rd coulmn Nan
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 103:')  
df = pd.DataFrame(np.random.randn(6,1), index=pd.date_range('2013-08-01', periods=6, freq='B'), columns=list('A'))
print(df)
df.loc[df.index[3], 'A'] = np.nan
print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="104"></a>
        <font><b>Task 104:</b></font>
        <br><br>
        reindex
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 104:')
df1 = df.reindex(df.index[::-1]).ffill()
print(df1)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="105"></a>
        <font><b>Task 105:</b></font>
        <br><br>
        Column reset Nan
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
print('Task 105:')
animals_df = pd.DataFrame({'animal': 'cat dog cat fish dog cat cat'.split(),
                   'size': list('SSMMMLL'),
                   'weight': [8, 10, 11, 1, 20, 12, 12],
                   'adult' : [False] * 5 + [True] * 2})
print(animals_df)

### Extras

<div style="">
    <div style="float: left; width: 80%;">
        <a id="106"></a>
        <font><b>Task 106:</b></font>
        <br><br>
        Change columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 106. Change columns
print('Task 106:')

users = pd.DataFrame({
    "name": ['kevin', 'james', 'kumar', 'kevin', 'kevin', 'james'], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa']
}) 

print('Before changing columns : ')
print(users)

# change columns
users_new = users.rename({'name': 'first_name', 'city': 'current_city'}, axis = 1)

print('\nAfter changing columns : ')
print(users_new)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="107"></a>
        <font><b>Task 107:</b></font>
        <br><br>
        Match with isin function
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 107. Match with isin function

print('Task 107:')

users = pd.DataFrame({
    "name": ['kevin', 'james', 'kumar', 'kevin', 'kevin', 'james'], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa']
}) 

print('Original Dataframe:')
print(users)

print('\nFinding `Montreal` in by using isin function :')

users.isin(['Montreal']).any()

<div style="">
    <div style="float: left; width: 80%;">
        <a id="108"></a>
        <font><b>Task 108:</b></font>
        <br><br>
        Finding specific items by using `isin` function
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 108. Finding specific items by using `isin` function

print('Task 108:')

users = pd.DataFrame({
    "name": ['kevin', 'james', 'kumar', 'kevin', 'kevin', 'james'], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa']
}) 

print('Original Dataframe: ')
print(users)

print('\nFinding `Montreal` in using isin and stack them: ')
print(users[users.isin(['Montreal'])].stack())

<div style="">
    <div style="float: left; width: 80%;">
        <a id="109"></a>
        <font><b>Task 109:</b></font>
        <br><br>
        Exclude specific matching
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 109. Exclude specific matching

print('Task 109:')

users = pd.DataFrame({
    "name": ['kevin', 'james', 'kumar', 'kevin', 'kevin', 'james'], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa']
}) 

print('Original Dataframe: ')
print(users)

print('\nExcluding `Montreal` in using isin and stack them: ')
print(users[~users.isin(['Montreal'])].stack())

<div style="">
    <div style="float: left; width: 80%;">
        <a id="110"></a>
        <font><b>Task 110:</b></font>
        <br><br>
        Apply a custom function on multiple columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 110. Apply a custom function on multiple columns

print('Task 110:')

amounts = pd.DataFrame({
    "CIBC": [200, 4200, 300, 300], 
    "TD": [1200, 800, 4000, 2000]
})

print('Original Dataframe: ')
print(amounts)

def get_total_amount(x):
    
    # if the amount is less than 500, skip it
    total_amount = 0
    
    if(x['CIBC'] > 499):
        total_amount += x['CIBC']
        
    if(x['TD'] > 499):
        total_amount += x['TD']
    
    return total_amount

amounts['Total'] = amounts.apply(get_total_amount, axis = 1)

print('Dataframe after applying the custom function: ')
print(amounts)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="111"></a>
        <font><b>Task 111:</b></font>
        <br><br>
        iterrows as tuples
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 111. iterrows as tuples

print('Task 111:')

users = pd.DataFrame({
    "id": [1, 1, 2, 2, 3, 3], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa'],
    "count" : [7, 8, 9, 2, 7, 8] 
    
}) 

print(users)  

print('\nIterate rows as tuples:')
for row in users.itertuples():
    print(row)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="112"></a>
        <font><b>Task 112:</b></font>
        <br><br>
        Dataframe with NaN
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 112. Dataframe with NaN

print('Task 112:')

df = pd.DataFrame(np.nan, index = [0, 1, 2], columns = ['A', 'B', 'C'])

print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="113"></a>
        <font><b>Task 113:</b></font>
        <br><br>
        Simple Dataframe with NaN
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 113. Simple Dataframe with NaN

print('Task 113:')

df = pd.DataFrame([np.nan] * 5)

print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="114"></a>
        <font><b>Task 114:</b></font>
        <br><br>
        Pandas and Date with Range
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 114. Pandas and Date with Range

print('Task 114:')

import datetime as dt

pd.np.random.seed(0)

df = pd.DataFrame({
     "date" : [dt.date(2012, x, 1) for x in range(1, 11)]
})

print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="115"></a>
        <font><b>Task 115:</b></font>
        <br><br>
        Pandas and Numpy Repeat
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 115. Pandas and Numpy Repeat

print('Task 115:')

df = pd.DataFrame({
     "entry" : np.repeat(3, 7) # Repeat the number for 7 times
})

print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="116"></a>
        <font><b>Task 116:</b></font>
        <br><br>
        read_sql in Pandas
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 116. read_sql in Pandas

print('Task 116:')

import sqlite3 as sql

conn = sql.connect('/kaggle/input/rj-sample-datasets/sample.db')

demo_df = pd.read_sql('SELECT ID, NAME FROM DEMO', conn)

print(demo_df)

# Note: online sqlite https://sqliteonline.com/

<div style="">
    <div style="float: left; width: 80%;">
        <a id="117"></a>
        <font><b>Task 117:</b></font>
        <br><br>
        Get a single value by iat
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 117. Get a single value by iat

print('Task 117:')

df = pd.DataFrame(np.random.randint(0, 100, size = (7, 2)), columns = list('ab'))

print('\nOriginal Dataframe:')
print(df)

val = df.iat[3, 1]

print('\nGetting value at 3rd row and first col:')
print(val)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="118"></a>
        <font><b>Task 118:</b></font>
        <br><br>
        Get last n elements
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 118. Get last n elements

print('Task 118:')

df = pd.DataFrame(np.random.randint(0, 100, size = (7, 2)), columns = list('ab'))

print('\nOriginal Dataframe:')
print(df)

tail_df = df.tail(3)

print('\nLast 3 rows:')
print(tail_df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="119"></a>
        <font><b>Task 119:</b></font>
        <br><br>
        Add data one by one by using loc function
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 119. Add data one by one by using loc function

df = pd.DataFrame(columns = ['rows', 'cols', 'time taken'])

df.loc['Dataset1 - Dask'] = (1000, 20, 10)
df.loc['Dataset1 - Pandas'] = (1000, 20, 15)

df

In [ ]:
!pip install country_converter

<div style="">
    <div style="float: left; width: 80%;">
        <a id="120"></a>
        <font><b>Task 120:</b></font>
        <br><br>
        Convert country in Dataframe
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 120. Convert country in Dataframe 

import country_converter as coco
import pandas as pd

df = pd.DataFrame({'code': ['IN', 'USA', 'BR', 'CAN']})

print('Before:')
print(df)

df['country'] = df.code.apply(lambda x: coco.convert(names = x, to = 'name_short', not_found = None))

print('\nAfter:')
print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="121"></a>
        <font><b>Task 121:</b></font>
        <br><br>
        Group by multiple columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 121. Group by multiple columns

df = pd.read_csv('../input/datasets-for-pandas/uk-500.csv')

df.groupby(['county', 'first_name']).sum().sample(5)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="122"></a>
        <font><b>Task 122:</b></font>
        <br><br>
        Compare two dataframes
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 122. Compare two dataframes

df1 = pd.DataFrame({
    'a' : [1,2,3], 
    'b' : [9,8,7]
})

df2 = pd.DataFrame({
    'a' : [1,1,3], 
    'b' : [12,8,12]
})

print(df1.compare(df2))

<div style="">
    <div style="float: left; width: 80%;">
        <a id="123"></a>
        <font><b>Task 123:</b></font>
        <br><br>
        Difference between datetime by only seconds or dates
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 123. Difference between datetime by only seconds or dates

df1 = pd.to_datetime('2020-10-14 14:52:21')
df2 = pd.to_datetime('2020-10-18 15:58:10')

delta = (df2 - df1)

print('days   : ', delta.days)
print('seconds: ', delta.seconds)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="124"></a>
        <font><b>Task 124:</b></font>
        <br><br>
        Get dates and delta days in Dataframe
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 124. Get dates and delta days in Dataframe

entries_count = 6

date_series = pd.Series(pd.date_range('2020-09-01', periods = entries_count, freq = 'D'))

df = pd.DataFrame({'entry_date': date_series})

print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="125"></a>
        <font><b>Task 125:</b></font>
        <br><br>
        Get dates and delta days in Dataframe
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 125. Get dates and delta days in Dataframe

entries_count = 5

date_series = pd.Series(pd.date_range('2020-09-01', periods = entries_count, freq = 'D'))

time_delta_series = pd.Series([pd.Timedelta(days = i) for i in range(entries_count)])

df = pd.DataFrame({'entry_date': date_series, 'delta_days': time_delta_series})

print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="126"></a>
        <font><b>Task 126:</b></font>
        <br><br>
        Date addition with time delta
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 126. Date addition with time delta

entries_count = 3

date_series = pd.Series(pd.date_range('2020-09-01', periods = entries_count, freq = 'D'))

time_delta_series = pd.Series([pd.Timedelta(days = i) for i in range(entries_count)])

df = pd.DataFrame({'entry_date': date_series, 'delta_days': time_delta_series})

print('\nBefore:')
print(df)


df['new_entry_date'] = df['entry_date'] + df['delta_days']
print('\nAfter:')
print(df)

print('\nData types:')
print(df.dtypes)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="127"></a>
        <font><b>Task 127:</b></font>
        <br><br>
        Converting Pandas innner list to numpy array without the word `list`
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 127. Converting Pandas innner list to numpy array without the word `list`

s = pd.Series([[1, 2, 3], np.array([1, 2, 3])])
    
print('Original Series:')
print(s)  

arr = np.array(s)
print('\nSeries to Array:')
print(arr)

print('\nAfter converting inner elements to list:')
x = np.array(s[:].tolist())
print(x)

# Source: https://stackoverflow.com/questions/64089218/how-to-convert-data-frame-pandas-into-list-in-numpy-without-word-list-in-array

<div style="">
    <div style="float: left; width: 80%;">
        <a id="128"></a>
        <font><b>Task 128:</b></font>
        <br><br>
        Append series to existing Dataframe
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 128. Append series to existing Dataframe

df = pd.DataFrame([1, 3, 4, 5], columns=["id"])
df.set_index("id")
print('Before:')
print(df)

marks = pd.Series([79, 20, 45, 99])
df["marks"] = marks
print('\nAfter:')
print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="129"></a>
        <font><b>Task 129:</b></font>
        <br><br>
        Cumulative sum with group by with multiple values
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 129. Cumulative sum with group by with multiple values

df = pd.DataFrame({
    'City': ['Toronto', 'Toronto', 'Toronto', 'Montreal', 'Montreal', 'Montreal', 'New York', 'Toronto', 'New York', 'New York'], 
    'Year': [2020, 2020, 2018, 2018, 2018, 2012, 2012, 2012, 2016, 2018], 
    'Points': [1000, 2000, 3000, 3000, 2000, 1500, 1500, 500, 500, 300]
})

print('Before:')
print(df)

df.sort_values(['City', 'Year'], inplace=True)
print('\nAfter Sorting:')
print(df)

df['Points_cum'] = df.groupby(['City', 'Year'])['Points'].cumsum()
print('\nAfter Cumulative Sum:')
print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="130"></a>
        <font><b>Task 130:</b></font>
        <br><br>
        Clean URL in Pandas String (remove string after specific item)
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 130. Clean URL in Pandas String (remove string after specific item)

df = pd.DataFrame({
    'url': ['https://www.abc.com/page/2/unit234', 'https://www.abc.com/page/3/unit34', 'https://www.abc.com/page/4/unit89']
})

print('Original:')
print(df)

df['url'] = df['url'].str.replace('\/unit.*', '/', regex=True)
print('\nAfer removing unit and future chars:')
print(df)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="131"></a>
        <font><b>Task 131:</b></font>
        <br><br>
        Find any matching value
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [ ]:
# 131. Find any matching value

print('Task 131:')

users = pd.DataFrame({
    "name": ['kevin', 'james', 'kumar', 'kevin', 'kevin', 'james'], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa']
}) 

print('Original Dataframe:')
print(users)

print('\nFinding `Montreal` in any cell :')
print(users[users.eq('Montreal').any(1)])

In [ ]:
# 132. Add prefix on column lables

import pandas as pd
import numpy as np

np.random.seed(34)

df = pd.DataFrame(np.random.rand(30, 5)).add_prefix("feature_")
df["year"] = np.repeat(["2012", "2013", "2014"], 10)

print(df.head())
print(len(df))

In [ ]:
# 133. Set values on where condition

df = pd.DataFrame({'city': ['Toronto', 'Toronto', 'Montreal', 'Montreal', 'Montreal'], 'Year': [2017, 2018, 2019, 2020, 2021]})

print('Original;')
print(df)

df['airport'] = None
df['airport'] = np.where(df['city'] == 'Toronto', {'airport_count': 2}, df['airport'])

print('\nAfter:')
print(df)

In [ ]:
# 134. Flatten Dictionary to Dataframe

d = {
    "country" : {
        "canada": {
            "code": 'CA',
            "city": {
                "name": "Toronto",
                "population": "6M"
            }
        }
    }
}

df = pd.json_normalize(d)

print(df)

In [ ]:
# 135. Using transform

df = pd.DataFrame({
        'ID': [1, 2, 2, 3, 3, 4, 4],
        'Value': [10, 5, 5, 10, 4, 11, 12]
    })

df['Count'] = df.groupby('ID')['Value'].transform('count')
print(df)

In [ ]:
# 136. Summing all elements

df = pd.DataFrame({
        'ID': [1, 2, 2, 3, 3, 4, 4],
        'Value': [10, 5, 5, 10, 4, 11, 12]
    })

sum1 = df.stack().sum()
print(sum1)

sum2 = df.to_numpy().sum()
print(sum2)

In [ ]:
# 137. Combine multiple CSV files by using Dask

import dask.dataframe as dd

df = dd.read_csv('/kaggle/input/rj-sample-datasets/transaction-*.csv')

df = df.compute() 

df.columns = ['Date', 'Description', 'Spent']

df.head(2)

In [ ]:
# 138. Separate Elements into Bins

df = pd.DataFrame({'number': np.random.randint(1, 100, 5)}) 
print('Original:')
print(df)

df['bins'] = pd.cut(x = df['number'], bins = [1, 20, 40, 60, 80, 100]) 
print('\nAfter pandas cut:')
print(df)

In [ ]:
# 139. Encode the object as enumerated or categorical

codes, uniques = pd.factorize(['TO', 'NY', 'CA', 'MNT', 'CA', 'NY'], sort = True)

print(codes)
print(uniques)

In [ ]:
# 140. 


df = pd.read_csv("/kaggle/input/rj-sample-datasets/sample-transaction.csv", names = ['date', 'description', 'spent'])

# df

bins = np.linspace(min(df['spent']), max(df['spent']), 4)
# print(bins)
groupNames = ["low", "med", "high"]

df['spentGroup'] = pd.cut(df['spent'], bins, labels = groupNames, include_lowest = True)
print(df)

In [ ]:
# 141. Simple result table with Pandas

results = pd.DataFrame(columns = ['Accuracy'])

results.loc['Random Classifier'] = 98.893
results.loc['KNN'] = 99.343

results

In [ ]:
# 142. isin with multiple conditions

df = pd.DataFrame([
        ['LEhOc7XSE0','2020', '03', 'car'],
        ['LEhOc7XSE0','2020', '03', 'truck'],
        ['LEhOc7XSE0','2020', '03', 'bike'],
        ['LEhOc7XSE0','2020', '03', 'insurance'],
        ['LEhOc7XSE0','2020', '03', 'inspection'],
        ['iXC5AfJMox','2020', '04', 'car'],
        ['iXC5AfJMox','2020', '04', 'truck'],
        ['iXC5AfJMox','2020', '04', 'inspection'],
        ['XpLLAySojz','2020', '01', 'bike'],
    ], columns=['order_id','year', 'month', 'item_type'])
print('Original:')
print(df)

df['bike_or_car'] = df['item_type'].isin({'bike', 'car'})
print('\nAfter:')
print(df)

# source: https://stackoverflow.com/questions/64248872/python-pandas-count-columns-with-multiple-conditions-and-groupby

In [ ]:
# 143. String to Pandas with python engine and separator

from io import StringIO
import pandas as pd

data = '''            student       science   maths  history
0     David       90          100  89
20    Kevin       98          97  90
'''
df = pd.read_csv(StringIO(data), sep='\s\s+', engine='python')

print(df)

# source: https://stackoverflow.com/questions/64268344/pandas-consolidate-two-rows-in-one

In [ ]:
# 144.

def get_unique_items(df):
    
    # how many cols are there
    cols = df.columns
    cols_count = len(df.columns)
    # print(cols_count)

    unique_max_count = 0
    for _col in cols:
#         print(_col)
        current_col_unique_values = list(df[_col].unique())
        list_len = len(current_col_unique_values) 
        
        if(list_len > unique_max_count):
            unique_max_count = list_len
    
    # list of each_cols and unique values
    col_unique_values = {}
    
    for _col in cols:
#         print(_col)
        current_col_unique_values = list(df[_col].unique())
        list_len = len(current_col_unique_values) 
        
        fill_count = 0
        if(list_len < unique_max_count):
            fill_count = unique_max_count - list_len
            
            for _ in range(fill_count):
                current_col_unique_values.append('-')
        
        col_unique_values[_col] = current_col_unique_values
        
    df_new = pd.DataFrame(col_unique_values)
    
    return df_new

users = pd.DataFrame({
    "name": ['kevin', 'james', 'kumar', 'kevin', 'kevin', 'james'], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa'],
    "count" : [7, 8, 9, 2, 7, 8] 
    
}) 

unique_user_items = get_unique_items(users)

unique_user_items

To do:

* Clean up some buggy exercises
* Remove duplicate exercises
* Add more documentation

**Final Notes:**

I am adding things still. You can come back and check for more information.

Also, if you **like my notebook**, <font style="color:blue;size:14px;">please upvote it</font> as it will motivate me to come up with better approach in the upcoming notebooks.

<font color="blue" size=+1.5><b>Check out my other kernels</b></font>

<table style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;border-collapse: collapse;width: 100%;">	
  <tr>
    <th style="border: 1px solid #ddd;padding: 8px; padding-top: 12px;padding-bottom: 12px;text-align: left;background-color: #2987E7;color: white;">Notebook</th>
    <th style="border: 1px solid #ddd;padding: 8px; padding-top: 12px;padding-bottom: 12px;text-align: left;background-color: #2987E7;color: white;">Tags</th>
  </tr>
  <tr>
    <td style="text-align: left"><a href="https://www.kaggle.com/rajacsp/reviews-with-nlp-wip">Amazon Alexa Reviews with NLP</a> </td>
    <td style="text-align: left">NLP, Spacy</td>
  </tr>
  <tr>
    <td style="text-align: left"><a href="https://www.kaggle.com/rajacsp/sof-questions-eda-and-visual">SOF Questions - EDA and Visual</a> </td>
    <td style="text-align: left">Data Visual, Plotly</td>
  </tr>
  <tr>
    <td style="background-color: #f2f2f2;text-align: left"><a href="https://www.kaggle.com/rajacsp/netflix-visualization-plotly-plots-treemap">Netflix - Visualization, Plotly, Plots, and Treemap</a> </td>
    <td style="background-color: #f2f2f2;text-align: left">Data Visual, Data Cleaning, Plotly</td>
  </tr>
  <tr>
    <td style="text-align: left"><a href="https://www.kaggle.com/rajacsp/prediction-with-various-algorithms">Prediction with various Algorithms</a> </td>
    <td style="text-align: left">Random Forest, Logistic Regression</td>
  </tr>
  <tr>
    <td style="background-color: #f2f2f2;text-align: left"><a href="https://www.kaggle.com/rajacsp/eda-and-visualization">EDA and Visualization</a> </td>
    <td style="background-color: #f2f2f2;text-align: left">Data Cleaning, Data Visual</td>
  </tr>
  <tr>
    <td style="text-align: left"><a href="https://www.kaggle.com/rajacsp/job-analysis-eda-visual">Job Analysis - EDA and Visual</a> </td>
    <td style="text-align: left">Data Visual, EDA, Plotly</td>
  </tr>   
  <tr>
    <td style="background-color: #f2f2f2;text-align: left"><a href="https://www.kaggle.com/rajacsp/estonia-disaster-visualization">Estonia Disaster - Visualization</a> </td>
    <td style="background-color: #f2f2f2;text-align: left">Data Visual, EDA, Data Cleaning</td>
  </tr>
    
  <tr>
    <td style="text-align: left"><a href="https://www.kaggle.com/rajacsp/pandas-dundas-challenge-100" >Pandas 100+ exercises collection</a></td>
    <td style="text-align: left">Pandas, Data Manipulation</td>
  </tr>   
  <tr>
    <td style="background-color: #f2f2f2;text-align: left"><a href="https://www.kaggle.com/rajacsp/prediction-with-various-algorithms">Credit Card Fraud - Prediction with various algorithms</a></td>
    <td style="background-color: #f2f2f2;text-align: left">Various ML Algorithms</td>
  </tr>  
  <tr>
    <td style="text-align: left"><a href="https://www.kaggle.com/rajacsp/linear-equations-real-time">Linear Equations - Real Time</a> </td>
    <td style="text-align: left">Linear Equation</td>
  </tr>  
</table>